// app global css in SCSS form

.q-stepper__header {
  display: none !important;
}

.scroll {
  overflow: hidden !important;
}

.whmcs-wordpress-form-input {
  background-color: transparent !important;
  border: none !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.whmcs-wordpress-register-btn {
  background-color: transparent !important;
}
